<div class="container px-lg-5">
  <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
    <div class="m-4 m-lg-5">
        <h2 class="fs-4 fw-bold">Portfolio</h2>
        <!--<div class="tabs">
          <button class="tab" onclick="openTab(event, 'tab1')"></button>
          &nbsp;
          <button class="tab" onclick="openTab(event, 'tab2')"></button>
          &nbsp;
          <button class="tab" onclick="openTab(event, 'tab3')"></button>
          </div>
        </div>-->
      <div class="tabs">
      <button *ngFor="let tab of tabs" class="tab">{{ tab.title }}</button>
      <div *ngFor="let tab of tabs">
       <img [src]="tab.imagePath"/><br>
      </div>
    </div>
      </div>
      </div>


