<div class="container">
  <div class="section">
    <h3><b>About</b></h3>
    <p>Hello!I am Anthony Barnett.Web Developer,Graphic Designer and Photographer.<br><br>
    Creative CV is a HTML resume template for professionals.Built with <br>
    Bootstrap4,Now UI Kit and FontAwesome,this modern and responsive<br>
  design template is perfect to showcase your portfolio,skills and experience.</p>
  </div>
  <div class="section">
    <h3><b>Basic Info</b></h3>
    <ul>
    <li>
      <span class="item-name">Age:</span>
      <span class="item-value">24</span>
    </li>
    <li>
      <span class="item-name">Email:</span>
      <span class="item-value">anthony@company.com</span>
    </li>
    <li>
      <span class="item-name">Phone:</span>
      <span class="item-value">+1718-111-0011</span>
    </li>
    <li>
      <span class="item-name">Address:</span>
      <span class="item-value">140,City Center,New York,U.S.A</span>
    </li>
    <li>
      <span class="item-name">Languages:</span>
      <span class="item-value">English,German,French</span>
    </li>
    </ul>
  </div>
</div>
