.container {
  display: flex;
  justify-content: space-between;
}

.section {
  flex: 1;
  padding: 20px;
  background-color:#f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section h2 {
  color:#333;
  font-size: 24px;
  margin-bottom: 10px;
}

.section p {
  color:#555;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

.item-name {
  font-weight: bold;
  margin-inline-end: 15px;
}

.item-value {
  margin-inline: 40px;
  margin-inline-end: 15px;
}

