.ul-sharing .icon-facebook {
  background-image: url("//500px.com/assets/v3/focus/facebook-11512bbdb931d995d5a4f6de06d0e3d1.svg");
  border-radius: 3px 0 0 3px;
}

.ul-sharing .icon-twitter {
  background-image: url("//500px.com/assets/v3/focus/twitter-a1b968f5ee5e767daa36c71b164edc17.svg");
}

.ul-sharing .icon-pinterest {
  background-image: url("//500px.com/assets/v3/focus/pinterest-6cf7af5dfcc1c343c3a06434105279d4.svg");
  border-radius: 0 3px 3px 0;
}

.ul-sharing li a:hover {
      color: #f25860;
    }
